<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Mahasiswa</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('mahasiswa_dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('mahasiswa_pertemuan') }}">Pertemuan</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
        
    </nav>
    <hr>
    
    <h2>Dashboard Mahasiswa</h2>
    <p>Nama Mahasiswa : {{ nama }}</p>
    <p>Nomor Induk : {{ induk }}</p>

</body>
</html>