body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ecf0f1;
}

.navbar {
    background: #2c3e50;
    padding: 12px;
}

nav-title {
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

.nav-btn {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    background: #34495e;
    border-radius: 6px;
    margin-right: 10px;
}

.nav-btn:hover {
    background: #1abc9c;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 360px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

card p{
    margin: 8px 0;
}

.card h2 {
    text-align: center;
    margin-top: 0;
}

.card input,
.card select {
    width: 100%;
    height: 42px;
    padding: 0 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 42px;
}

.card button {
    width: 100%;
    padding: 10px;
    background: #1abc9c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #16a085;
}

.error {
    background: #fdecea;
    color: #c0392b;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
    text-align: center;
}

table {
    width: 100%;
    max-width: 800px;
    background: white;
    border-collapse: collapse;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #34495e;
    color: white;
}

.btn-delete {
    background: #e74c3c;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 6px;
    
}

.btn-delete:hover {
    background: #c0392b;
}

.dlt {
    text-align: center;
}