
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Dosen</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('dosen_dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('dosen_pertemuan') }}">Pertemuan</a> |
        <a href="{{ url_for('dosen_mahasiswa') }}">Daftar Mahasiswa</a> |
        <a href="{{ url_for('logout') }}">Logout</a>    
        
    </nav>
    <hr>
    
    <h2>Dashboard Dosen</h2>
    <p>Nama : {{ nama }}</p>
    <p>Nomor Induk : {{ induk }}</p>

</body>
</html>