<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Pertemuan</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>
    <h2>{{ p.nama }}</h2>
    <p>Tanggal : {{ p.tanggal }}</p>
    <p>Waktu Mulai : {{ p.masuk }}</p>
    <p>Waktu Selesai : {{ p.keluar }}</p>
    <hr>
    
    <h3>Presensi QR</h3>
    <button onclick="startScan()">Scan QR</button>
    <div id="reader" style="width:300px; display:none;"></div>
    
    <form id="scanForm" method="POST" action="/dosen/scan/{{ p.id }}">
        <input type="hidden" name="token" id="token">
        
    </form>
    <hr>
    
    <h3>Daftar Hadir Mahasiswa</h3>
    <ul>
        {% for m in hadir %}
        <li>{{ m.nama }} — {{ m.induk }}</li>
        {% else %}
        <li>Belum ada mahasiswa hadir</li>
        {% endfor %}
        
    </ul>
    
    <a href="{{ url_for('dosen_pertemuan') }}" class="btn">Kembali</a>
    
    <script>
    let scanner;
    
    function startScan() {
        document.getElementById("reader").style.display = "block";
        scanner = new Html5Qrcode("reader");
        
        scanner.start(
        { facingMode: "environment" },
        { fps: 10, qrbox: 250 },
        qrCodeMessage => {
            document.getElementById("token").value = qrCodeMessage;
            scanner.stop();
            document.getElementById("scanForm").submit();
        },
        error => {
            
        }
        );
    }
    </script>

</body>
</html>